starterKit/.idea/.name
starterKit/.idea/encodings.xml
starterKit/.idea/misc.xml
starterKit/.idea/modules.xml
starterKit/.idea/starterKit.iml
starterKit/.idea/vcs.xml
starterKit/.idea/workspace.xml
starterKit/.idea/scopes/scope_settings.xml
starterKit/Game Manual/.buildinfo
starterKit/Game Manual/challenge.html
starterKit/Game Manual/commands.html
starterKit/Game Manual/controls.html
starterKit/Game Manual/game.html
starterKit/Game Manual/genindex.html
starterKit/Game Manual/index.html
starterKit/Game Manual/javaapi.html
starterKit/Game Manual/javaide.html
starterKit/Game Manual/objects.inv
starterKit/Game Manual/pythonapi.html
starterKit/Game Manual/quick.html
starterKit/Game Manual/replay.html
starterKit/Game Manual/search.html
starterKit/Game Manual/searchindex.js
starterKit/Game Manual/_images/BlueJ1.png
starterKit/Game Manual/_images/BlueJ10.png
starterKit/Game Manual/_images/BlueJ2.png
starterKit/Game Manual
starterKit/Java
starterKit/JavaDocs
starterKit/Python/Resources
starterKit/Python/Results
starterKit/Validator
starterKit/Python/PythonClientAPI/libs/Configurator
starterKit/Python/PythonClientAPI/libs/Game/__pycache__
starterKit/Python/PythonClientAPI/libs/Communication
starterKit/Python/Java Library
starterKit/Python/botplayer.zip
starterKit/Python/detect-java.bat
starterKit/Python/detect-java.sh
starterKit/Python/replay.bat
starterKit/Python/replay.sh
starterKit/Python/RunClient.bat
starterKit/Python/runclient.sh
starterKit/Python/.idea
MapOutOfBoundsException.py
starterKit/Python/PythonClientAPI/libs/.idea
TestMessage.json
JSONParser.py
starterKit/Python/botplayer/__pycache__
starterKit/Python/RunPythonClient.py
starterKit/Python/runserver.bat
starterKit/Python/StartGameWithAI.bat
starterKit/Python/StartGameWithAI.sh
starterKit/Python/PythonClientAPI/libs/Game/ClientAPITest.py
